.weather {
    background-color: lightblue;
    padding: 2.5em 2em 2.6em;
    border-radius: 0.8em;
    width: 80%;
    max-width: 450px;
    opacity: 65%;
}

.weather__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 500
}

.weather__subtitle {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    background-color: aqua;
    border-radius: 0.5em;
    color: darkkhaki;
}

.weather__body {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2em;
}

.weather__info-title {
    text-align: center;
    margin-bottom: 0.8em;
    font-size: 1.1rem;
    font-weight: 300;
}

.weather__list {
    display: grid;
    gap: 0.4em;
}

.weather__list-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.9rem;
}

.weather__list-label {
    opacity: 0.7;
}

.weather__list-value {
    font-weight: 500;
}

.weather__temp {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.6em;
}

.weather__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.4em 1em;
    border-radius: 0.7em; 
    background-color: indigo;
    color: white;
    font-size: 1rem;
    transition: transform 200ms ease;
}

.weather__btn:hover {
    background-color: aqua;
    transform: scale(1.08);
}

