* {
    box-sizing: border-box;
}


body {
    font-family: Source Code Pro,monospace;
    margin: 0;
}


h1, h2 h3 p, ul {
    margin-top: 0;
    margin-bottom: 0;
    background-color: salmon;
}

ul {
    list-style: none;
    padding-right: 0;
    background-color: blue;
}

input, button {
    font-family: inherit;
}

button {
    border: none;
    background-color: yellow;
}

img {
    display: block;
    background-color: darkorange;
}

